body {
    background-color: aliceblue;
}
.container {
    margin: auto;
    width: 50%;
    border: 3px solid #ec7907;
    padding: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 3px solid #803a00;
}

.flex-column > div {
    padding: 0.5rem;
}

.flex-column > div:hover {
    background-color: cornflowerblue;
}

.center-header-text {
    text-align: center;
}